@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Global Styles */

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

body {
  width: 100%;
}

#showProducts{
  text-align: center;
}

#showProducts .pro-container{
display: flex;
justify-content: space-between;
padding-top: 20px;
flex-wrap: wrap;

}

#showProducts .pro {
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0,0,0,0.02);
  margin: 15px 0;
  transition 0.2s ease;
}

#showProducts .pro:hover {
box-shadow: 20px 20px 30px rgba(0,0,0,0.06);
}

#showProducts .pro img{
  width: 100%;
  border-radius: 20px;

}

#showProducts .pro .des{
   text-align: start;
   padding: 10px 0;
}

#showProducts .pro .des span{
color: #606063;
font-size: 12px;
}

#showProducts .pro .des span{
color: #606063;
font-size: 12px;
}

#showProducts .pro .des h5{
padding-top: 7px;
color: #1a1a1a;
font-size: 14px;
}

#showProducts .pro .des i{
font-size 12px;
color: rgb(240,255,18);
}

#showProducts .pro .des h4{
padding-top: 7px;
font-size: 15px;
font-weight: 700;
color: #088178;
}